.App {
  text-align: center;
}

.App-header {
  margin-top: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Card{
  Background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  width: 300;
}

Button{
  background-color: grey;
  width: 100px;
  height: 20px;
  
}